body{
    background-image: url('background.png');
}
div {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.cell {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    height: 150px;
}
.green {
    background-color: forestgreen;
    color: white;
}
.green:hover{
    background-color: white;
    color: black;
}
.red{
    background-color: red;
    color: white;
}
.red:hover {
    background-color: white;
    color: black;
}
.blue{
    background-color:deepskyblue;
    color:black;
}
.blue:hover{
    background-color: white;
    color:black;
}
.yellow{
    background-color:yellow;
    color:black;
}
.yellow:hover{
    background-color:white;
    color:black;
}
.purple{
    background-color: blueviolet;
    color: white;
}
.purple:hover{
    background-color:white;
    color:black;
}
.pink{
    background-color:pink;
    color: black;
}
.pink:hover{
    background-color:white;
    color:black;
}
.orange{
    background-color:orange;
    color:black;
}
.orange:hover{
    background-color:white;
    color:black;
}
.white{
    background-color:white;
    color:black
}
.white:hover{
    background-color: black;
    color:white;
}
.black{
    background-color: black;
    color: white;
}
.black:hover{
    background-color: white;
    color: black;
}
.grey{
    background-color: gray;
    color: black;
}
.grey:hover{
    background-color: white;
    color: black;
}
.brown{
    background-color: brown;
    color: white;
}
.brown:hover{
    background-color: white;
    color: black;
}
a {
    font: arial;
    text-decoration: none;
}
